<body data-spy="scroll" data-target=".navbar">
<div class="container">
		<div class="row row-main">
			<div class="span5 offset2 main-content">
				<img src="/Content/images/logo.png" alt="Logo" width="80" height="80" class="top-logo visible-phone">

				<h1><span>Security</span> <span>Has</span> <span>Never</span> <span>Been</span> <span>So</span> <span>Easy</span></h1>
					
				<div class="content">
					<div class="initial-content">
						<p>We're working hard behind the scenes to create something awesome.</p>
						<p>Sign up now to start using the app.</p>
					</div>
					<div class="thanks">
						<p><strong>Thanks for subscribing!</strong></p>
						<p>You will shortly recieve an email to verify your account.</p>
					</div>
                    <div class="subscribe">
					    <form id="emailForm" class="form row">
                            <div class="span3">
                                <input type="text" placeholder="Name" name="name" />
						        <input type="email" placeholder="Email Address" name="email">
                                <input type="password" placeholder="Password" name="password" />
    					    	<button class="btn btn-primary btn-large" type="submit">Subscribe</button>
                            </div>
                            <div class="" style="display:inline">
                                <p>By registering we are able to confirm your email and provide you a private key.</p>
                            </div>
					    </form>
                    </div>

					<div class="visible-phone phone-countdown">
						<div class="countdown-item">
							<div class="countdown-number countdown-days">13</div>
							<div class="countdown-value">days</div>
						</div>	

						<div class="countdown-item">
							<div class="countdown-number countdown-hours">08</div>
							<div class="countdown-value">hours</div>
						</div>	

						<div class="countdown-item">
							<div class="countdown-number countdown-minutes">27</div>
							<div class="countdown-value">mins</div>
						</div>	

						<div class="countdown-item">
							<div class="countdown-number countdown-seconds">16</div>
							<div class="countdown-value">secs</div>
						</div>	
					</div>
				</div>

				<div class="actions">
					<a href="#" class="btn btn-primary btn-large" id="showEmailForm">Sign up now!</a>
				</div>
			</div>

			<div class="span5 hidden-phone">
				<div class="phone">
					<img alt="Phone" src="/Content/images/phone.png">
					
					<div class="phone-screen">
						<img alt="Logo" src="/Content/images/logo.png" width="80" height="80" class="logo">

						<div class="phone-countdown">
							<div class="countdown-item">
								<div class="countdown-number countdown-days">13</div>
								<div class="countdown-value">days</div>
							</div>	

							<div class="countdown-item">
								<div class="countdown-number countdown-hours">08</div>
								<div class="countdown-value">hours</div>
							</div>	

							<div class="countdown-item">
								<div class="countdown-number countdown-minutes">27</div>
								<div class="countdown-value">mins</div>
							</div>	

							<div class="countdown-item">
								<div class="countdown-number countdown-seconds">16</div>
								<div class="countdown-value">secs</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
